<div class="container_big-card">
  <div class="big-card_photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNXpzcKnF69vNHUHDSh9R3k61yicDYB_2umw&usqp=CAU
    " alt="exposicao-vincent" height="200px" width="300px">
  </div>
  <a href="https://bhaz.com.br/noticias/bh/van-gogh-chega-a-bh-exposicao-imersiva/" target="_blank">
    <div  class="big-card_title">
      <h1>Van Gogh - Exposição imersiva começa nesta semana</h1>
    </div>
  </a>
  <div class="big-card_descrtiption">
    <p>Os fãs das obras poderão ter uma experiência imersiva da obra do pintor.
      A imersão em Van Gogh traz uma emocionante viagem pelo universo do pintor holandês, com direito a célebres obras, como autorretratos, A Noite Estrelada, Quarto em Arles, Girassóis, Amendoeira em Flor, dentre outras.
    </p>
  </div>
</div>
